<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Notebook:</strong>
    <%= emprestimo.notebook_id %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= emprestimo.tipo %>
  </p>

  <p>
    <strong>Data emprestimo:</strong>
    <%= emprestimo.data_emprestimo %>
  </p>

  <p>
    <strong>Colaborador:</strong>
    <%= emprestimo.colaborador %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= emprestimo.setor %>
  </p>

  <p>
    <strong>Data entrega:</strong>
    <%= emprestimo.data_entrega %>
  </p>

  <p>
    <strong>Motivo devolucao:</strong>
    <%= emprestimo.motivo_devolucao %>
  </p>

  <p>
    <strong>Data baixa:</strong>
    <%= emprestimo.data_baixa %>
  </p>

  <p>
    <strong>Justificativa:</strong>
    <%= emprestimo.justificativa %>
  </p>

</div>
